@page
@model QuizProject.Areas.Admin.Pages.Questions.IndexModel

@{
    ViewData["Title"] = "Manage Questions";
}
<h1>@ViewData["Title"]</h1>
<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Display Order</th>
            <th>Point</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Question.OrderBy(q => q.IdCategory).ThenBy(q => q.Order))
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Order
                </td>
                <td>
                    @item.Points
                </td>
                <td>
                    @item.IdCategoryNavigation.Title
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="link-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>