@page
@model QuizProject.Areas.Admin.Pages.Categories.IndexModel
@{
    ViewData["Title"] = "Index";
}
<h1>Manage Categories</h1>
<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Display Order</th>
            <th scope="col">Aviable</th>
            <th scope="col">Aviable From</th>            
            <th scope="col"># Questions</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Category.OrderBy(c => c.Order))
        {
            var imgname = item.Id + ".png";
            <tr>
                <td>
                    <img src="/img/@imgname" class="img-fluid" />
                </td>
                <td>@item.Title</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAviable)
                </td>
                <td>@item.AviabilityDate.ToShortDateString()</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Questions.Count)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |                    
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="link-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>